// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type='text'] {
  display:block;
  width: 8em;
}

.property_field label {
  text-align: center;
}

.property_field {
  display: inline-block;
  margin-right: 0em;
}

#quality_field {
  display: inline-block;
  width: 7em;
}

div#sat {
  display: inline-block;
  float: left;
  margin-left: 1.5em;
  margin-right: 1em;
}

#satswitch {
  margin-top: 7%;
}

div#buttons{
  display: block;
  margin-left: 2em;
}

#satlabel {
  display: block;
}

footer h5 {
  text-align: right
}




